.body {
  background: rgb(98, 98, 98);
  background: radial-gradient(
    circle,
    rgba(98, 98, 98, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
  font-family: arial;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: var(--white);
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.form {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: var(--white);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.form-inscrip {
  max-width: 700px;
}

.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.form legend {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: var(--white);
}

.form .input-group {
  position: relative;
}

.form .input-group input,
.form .input-group select {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  padding-right: 30px;
}
.form .input-group select option {
  background-color: #222; /* fond sombre */
  color: #fff; /* texte clair */
  border: color(#222);
}

.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label,
.form .input-group select:focus + label,
.form .input-group select:valid + label {
  transform: translateY(-18px);
  color: var(--light-brown-lt);
  font-size: 0.8rem;
}

.btn-submit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus-within {
    background-color: var(--light-brown-lt);
    color: var(--white);
  }
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 888px) {
  .form {
    max-width: 50%;
    padding: 50px 20px 20px;
  }

  .form::before {
    display: none;
  }

  .form h2 {
    font-size: 1.3rem;
  }

  .submit-btn {
    font-size: 0.9rem;
    padding: 10px;
  }

  .close {
    font-size: 1.5rem;
  }
}
