* {
  /* FONTS */
  --main-font: "Lexend Exa", sans-serif;
  --heading-font: "Afacad", sans-serif;

  /* COLORS */
  --light-brown-dt: #a88066;
  --light-brown-lt: #946e54;
  --white: #fefefe;

  --dark-700: #000000;
  --dark-600: #010000;
  --dark-500: #020000;
  --dark-400: #080606;
  --dark-300: #0e0c0c;
  --dark-200: #141212;

  /* SIZES */
  --s-0: 0rem; /* 0px */
  --s-0_5: 0.125rem; /* 2px */
  --s-1: 0.25rem; /* 4px */
  --s-1_5: 0.375rem; /* 6px */
  --s-2: 0.5rem; /* 8px */
  --s-2_5: 0.625rem; /* 10px */
  --s-3: 0.75rem; /* 12px */
  --s-3_5: 0.875rem; /* 14px */
  --s-4: 1rem; /* 16px */
  --s-5: 1.25rem; /* 20px */
  --s-6: 1.5rem; /* 24px */
  --s-7: 1.75rem; /* 28px */
  --s-8: 2rem; /* 32px */
  --s-9: 2.25rem; /* 36px */
  --s-10: 2.5rem; /* 40px */
  --s-11: 2.75rem; /* 44px */
  --s-12: 3rem; /* 48px */
  --s-14: 3.5rem; /* 56px */
  --s-16: 4rem; /* 64px */
  --s-20: 5rem; /* 80px */
  --s-24: 6rem; /* 96px */
  --s-28: 7rem; /* 112px */
  --s-32: 8rem; /* 128px */
}

html {
  font-family: var(--main-font);
  letter-spacing: 0.1;
}

header {
  color: var(--light-brown-dt);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font);
  line-height: 1.1;
}

:is(p, a, ul, ol, div) {
  font-size: 1.125rem;
  line-height: 1.5;
}
